openapi: 3.0.0
info:
  version: 0.0.1
  title: DataCanvas Service
tags:
  - name: Discover

servers:
  - url: https://api.pennsieve.io
  - url: https://api.pennsieve.io/datacanvas
  - url: https://api.pennsieve.net/datacanvas

paths:
  "/health":
    get:
      security: []
      summary: healthcheck
      operationId: healthcheck
      x-scala-package: healthcheck
      description: Ensure the service is responding to requests.
      responses:
        "200":
          description: Success
        "500":
          description: Internal error
          content:
            "*/*":
              schema:
                type: string

  "/{organizationId}/canvas/{canvasId}":
    get:
      summary: get a data-canvas by its identifier
      security:
        - Bearer: []
      operationId: getById
      x-scala-package: datacanvas
      parameters:
        - name: organizationId
          in: path
          description: organization id
          required: true
          schema:
            type: integer
            format: int32
        - name: canvasId
          in: path
          description: data-canvas id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-scala-type: com.pennsieve.datacanvas.models.DatacanvasDTO
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: string
        "404":
          description: resource not found
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal error
          content:
            application/json:
              schema:
                type: string


  /name/{name}:
    get:
      security:
        - Bearer: [ ]
      summary: Get a data-canvas by name
      description: Get a data-canvas from the Pennsieve database by looking up the name.
      operationId: getByName
      produces:
        - application/json
      x-scala-package: datacanvas
      parameters:
        - name: name
          in: path
          required: true
          description: the data-canvas unique identifier
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-scala-type: com.pennsieve.datacanvas.models.DatacanvasDTO
        401:
          description: Unauthorized
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: resource not found
          schema:
            type: string
        500:
          description: Internal error
          schema:
            type: string

components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT